cycler==0.10.0
docopt==0.6.2
graphviz==0.4.8
hdfs==2.0.5
matplotlib==2.0.2
nose==1.3.7
numpy==1.13.0
pandas==0.19.1
pycrypto==2.6.1
pyodbc==3.0.10
pyparsing==2.2.0
python-dateutil==2.4.2
pytz==2016.3
requests==2.12.3
scikit-learn==0.18
scipy==0.19.1
six==1.10.0
sqlanydb==1.0.7
xlrd==1.0.0
